<%- include("partials/header"); -%>

<div class="row">
    <div class="col-lg">
        <h1>About</h1>
        <br>
        <p> <%= aboutContent %> </p>


    </div>
  </div>


    
<%- include("partials/footer"); -%>
